<fieldset>
  <%= f.select :field_type, %w[text_field check_box] %>
  <%= f.text_field :name, placeholder: "field_name " %>
  <%= f.check_box :required %> <%= f.label :required %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "[remove]", '#', class: "remove_fields" %>
</fieldset>