<%= form_for(@product_type) do |f| %>
  <% if @product_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

      <ul>
      <% @product_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :fields do |builder| %>
    <%= render 'field_fields', f:builder %>
  <% end %>
  <%= link_to_add_fields "Add Field", f , :fields %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
